<launch>

  <rosparam>
    zeros:
      upper_body_joint: 0.0
      boom_joint: 1.0
      arm_joint: -2.715732
      bucket_joint: 0.5408
  </rosparam>

  <param name="robot_description" textfile="$(find excavator_description)/urdf/excavator_dyn.urdf"/>

  <!-- Send joint values-->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>

  <!--tf_transform_node-->
<!--  <node name="tf_node1" type="tf_node" pkg="grid_interpolation"/> -->
  <!-- Combine joint values -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
 

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find excavator_description)/rviz/excavator_model.rviz"/>


</launch>

